| \n
| ANSI \033[91mC\033[0m\033[92mO\033[0m\033[93mL\033[0m\033[94mO\033[0m\033[95mR\033[0m PALETTE
| \n[49m  
-each color in colors
  = color
|\n[49m
|\n
| Fork here https://github.com/csanz/ansicolors
|\n